html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
  border-style: none;
  /* Our sidebar item styling */
  
  margin-bottom: 10px;
  color: #f07866;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #494c4f;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f07866;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f07866;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f07866;
}

/* Styling of overlay */
.bm-overlay {
  background: #f07866;
}

.menu-item a {
  border-style: none;
}

.list-item {
  font-size: 10px;
  color: #3f3f3f;
  
}
.list-item {
  /* Same as before */
  transition: color 275ms ease;
}
.list-item:hover {
  font-size: 10px;
  color: #f07866;
}
.list-column {
 margin: 0;
 padding:0;
}

.image-menu-mobile {
  padding: 10px;
}

.desktop-link {
  font-weight: 900;
  margin:0;
  padding:0;
}

.desktop-list-link {
 margin:0;
 padding: 0;
}

.menu-desktop {
  border: none !important;
  box-shadow: none;
}

.divider {
  border-bottom: 0px;
  background-color: #f07866;
}

