html,
body {
  margin: 0;
}

#App {
  font-family: "Raleway",Sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}
p {
  font-family: "Raleway",Sans-serif;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
  border-style: none;
  /* Our sidebar item styling */
  
  margin-bottom: 10px;
  color: #f07866;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #494c4f;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 14px;
  height: 10px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f07866;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f07866;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f07866;
}

/* Styling of overlay */
.bm-overlay {
  background: #f07866;
}

.menu-item a {
  border-style: none;
}
.menu-item {
  font-family: "Raleway",Sans-serif;
  font-size: 14px;
}

.bm-item .menu-item {
  
}

.list-item {
  font-family: "Raleway",Sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  
}

.logo-menu-desktop {
  margin-left: -35px;
}
.list-item {
  /* Same as before */
  transition: color 275ms ease;
}
.list-item:hover {
  font-family: "Raleway",Sans-serif;
  font-size: 14px;
  
  margin:0;
  padding:0;
  color: #f07866;
}
.list-column {
 margin: 0;
 padding:0;
}

.image-menu-mobile {
  padding: 10px;
}

.desktop-link {
  font-family: "Raleway",Sans-serif;
  font-size: 14px;
  font-weight: 900;
  margin:0;
  padding:0;
}

.desktop-list-link {
 margin:0;
 padding: 0;
}

.menu-desktop {
  border: none !important;
  box-shadow: inherit !important;
  background-color: transparent !important;
}

.divider {
  border-bottom: 0px !important;
  background-color: #f07866;
}

.divider-top {
  margin:0 !important;;
  padding:0 !important;;
  border: 0px !important;
  height: 0.5px !important;
  background-color: #b7b7b7;
}


.share-btn {
  height: 30px;
  width: 30px;
  opacity: 1;
  padding: 0 !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.share-empty {
opacity: 0;
pointer-events: none;
}

.share-btn:hover {
  opacity: 0.9;
}

.submit-btn {
  opacity: 1;
  background-color: #d46a5a  !important;
  font-size: 10px  !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: white !important;
  font-weight: 400 !important;;
}
.submit-btn:hover {
  opacity: 0.9;
}
.input-field {
  border-radius: 0px !important;
}

.input-field::placeholder {
  color: #636363 !important;
  opacity: 1; /* Firefox */
}

.input-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #636363 !important;
}

.input-field::-ms-input-placeholder { /* Microsoft Edge */
 color: #636363 !important;
}

.header-txt {
  font-family: "Raleway",Sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  margin: 0 !important;
}

.subtitle-txt {
  font-size: 12px;
  font-weight:lighter;
  margin-bottom: 40px;
  
}

.footer-txt {
  background-color: #f5f5f5;
}

.footer-sharing {
  padding-top: 30px;
  margin-right: 100px;
 }

 .footer-divider {
  border: 0px !important;
  height: 0.5px !important;
 }

 .stiky-menu-mobile {
    position: fixed;
    z-index: 101;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background-color: white;
 }

 .radio {
  transform: scale(0.7);
  margin-bottom: 10px;
 }
 .ui.checkbox .box:before, .ui.checkbox label:before {
  background-color: #e8e8e8 !important;
  border: 1px solid #636363 !important;;
 }